@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
.content-desc h3 {
  letter-spacing: 0.2rem;
}

#content .box {
  width: 70vw;
  height: 70vh;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 25px;
}

#content #head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.4rem;
}

#content #question {
  font-weight: 500;
}

#content #options .optbox1 {
  width: 58vw;
  height: 6vh;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 25px;
  text-align: center;
  font-family: "Arvo", serif;
  cursor: pointer;
}

#content #options .optbox2 {
  width: 58vw;
  height: 6vh;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 25px;
  text-align: center;
  font-family: "Arvo", serif;
  cursor: pointer;

 
}

#content #options .optbox3 {
  width: 58vw;
  height: 6vh;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin: 25px;
  text-align: center;
  font-family: "Arvo", serif;
  cursor: pointer;
  
}

#content #options .optbox4 {
  width: 58vw;
  height: 6vh;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
 
  border-radius: 10px;
  overflow: hidden;
  margin: 25px;
  text-align: center;
  font-family: "Arvo", serif;
  cursor: pointer;
}

#result-box .box-result {
  width: 70vw;
  height: 52vh;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  font-family: "Arvo", serif;
  margin: 25px;
}
#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .wrong-answer
{
  background-color: rgba(221, 96, 96, 0.664);
  background-size:auto;
}
.right-answer
{
  background-color: #b6f0b6;
} */
.wrong-answer{
  width: 58vw;
  height: 6vh;
 
          background-color: rgba(221, 96, 96, 0.664);
          margin-bottom: 20px;
}
.right-answer{
  width: 58vw;
  height: 6vh;
 
  background-color: #b6f0b6;

          margin-bottom: 20px;
}

@media (max-width: 360px) {
  h3 {
    font-size: 160px;
  }
/*# sourceMappingURL=style.css.map */